
{{ $about := .Site.Data.aboutme }}

<section id="about" class="yellow">
  <h2 class="heading">{{ $about.title }}</h2>

<p>My name is Javier Osuna Herrera, I’m a Spanish videogames and virtual reality developer who is always studying and learning how to improve my skills in order to create better games and experiences. Since I played my first game in my parent’s old computer, <a href="https://en.wikipedia.org/wiki/Prince_of_Persia_(1989_video_game)" target="blank">Prince of Persia</a>, I knew that my work would be related to videogames.</p>

  {{ range $index, $element := $about.text }}
        <p class="">{{ $element }}</p>
  {{ end }}
</section>