{{ $projects := .Site.Data.projects }}

<section class="blue">
  <h2 class="heading">{{ $projects.title }}</h2>

  <div class="row justify-content-md-center text-center">

    {{ range $index, $element := $projects.projects }}

    <div class="col-12 col-lg-6 col-md-6 mb-3">
      <div class="card p-4">
        {{ if $element.icon }}<i class="mt-3  fa fa-{{ $element.icon }} fa-3x"></i>{{ end }}
        {{ if $element.title }}<h5 class="mt-4">{{ $element.title }}</h5>{{ end }}
        {{ if $element.description }}<p class="text-muted">{{ $element.description }}</p>{{ end }}
        {{ if $element.video }}
          <iframe 
            allowfullscreen="0" src="https://www.youtube.com/embed/{{ $element.video }}">
          </iframe>
        {{ end }}
        {{ if $element.image }}
          <a href="{{.Site.BaseURL}}img/{{ $element.image }}"  target="_blank">
            <img src="{{.Site.BaseURL}}img/{{ $element.image }}" class="img-responsive" style="border-radius: 5%; width: 100%">
          </a>
        {{ end }}
      </div>
    </div>

    {{ end }}
  </div>
</section>