{{ $skills := .Site.Data.skills }}

<section id="skills" class="aqua text-light">
  <h2 class="heading">{{ $skills.title }}</h2>

  <p>{{ $skills.description }}</p>

  {{ range $key, $value := $skills.skills }}

  <div class="skill">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10"
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {{ end }}

  <p>{{ $skills.endtext }}</p>
  <p>If you want to see all my skills, check them out on <a href="https://www.dropbox.com/s/bldk9l8j2rl69ph/CV_English.pdf?dl=0" target="_blank">my resume</a>.</p>
</section>