{{ $softskills := .Site.Data.softskills }}

<section id="skills" class="pink">
  <h2 class="heading">{{ $softskills.title }}</h2>

  <p>{{ $softskills.description }}</p>

  <div class="row">
    <div class="col-12 col-lg-6 col-md-6 mb-3 word-wrap" style="word-wrap: break-word;">
      <ul>
        {{ range $value := $softskills.skills1 }}
        <li>{{ $value }}</li>
        {{ end }}
      </ul>
    </div>

    <div class="col-12 col-lg-6 col-md-6 mb-3" style="word-wrap: break-word;">
      <ul>
        {{ range $value := $softskills.skills2 }}
        <li>{{ $value }}</li>
        {{ end }}
      </ul>
    </div>
  </div>

  <p>{{ $softskills.endtext }}</p>

</section>